:root {
--cor-de-fundo:#630000;
--verde:#a04a4a;
--branco:#ffffff;
--botao-ativo:#631212;
--botao-inativo:#630000;
--texto-fundo:#a15050;
}
body{
    background-color: var(--cor-de-fundo);
    color: var(--branco);
    font-family: 'Times New Roman', Times, serif;
}
.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.titulo-principal{
    text-align: center;
    width: 100%;
    font-size: 32px;
}